{% extends 'accounts/base.html' %}

{% block head %}
<title>Vi talks :: LogIn.</title>
{% endblock %}

{% block content %}
{% load static %}

          <div class="row">
                  <div class="col s12 m4 offset-m4 valign-wrapper" style="margin-top: 15px;">
                    <div class="card col s8 offset-s2 z-depth-4">
                      <div class="card-image">
                        <div class="row" >
                          <div class="col s6 offset-s3">
                            <img class="responsive-img" src="{% static 'accounts/images/user2.png' %}" alt="" class="responsive-img" style="height: 120px;">
                          </div>
                        </div>
                        <h5 class="center-align">Log In</h5>
                      </div>
                      <div class="card-content col s12" style="border-top:  2px solid #00bcd4;">
                        <div class="row" style="margin-bottom: 0px;">
                          <form class="col s12" method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                            <ul >
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            {% if request.GET.next %}
                              <input type="hidden" name="next" value="{{request.GET.next}}">
                            {% endif %}
                            <div class="row">
                              <div class="input-field col s12" style="margin-bottom: 0px; margin-top: 0px;">
                                <i class="fas fa-user fa-sm prefix"></i>
                                {{form.username}}
                               <label for="id_username">Username</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12" style="margin-bottom: 0px; margin-top: 0px;">
                                <i class="fas fa-key fa-sm prefix"></i>
                                {{form.password}}
                                <label for="id_password">Password</label>
                              </div>
                            </div>
                            <div class="row center">
                              <div class="col s12">
                                <button type="submit" class="btn waves-effect waves-light light-blue darken-1" sname="action">Log In</button>

                              </div>
                            </div>
                          </form>
                          <a class="" href="{% url 'accounts:signup' %}">Sign Up!</a>
                          <a class="right" href="#">Forgot<i class="fas fa-key fa-xs"></i>?</a>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
              <footer class="foot transparent" style="height:20px;">

         Vi codes © 2018 Copyright

</footer >
{% endblock %}
